{% include "preloader.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% endblock head %}
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleErrors.css">
</head>

<body>
    <div class="ErrorCont">
        <h1>{% block title %} 403 {% endblock title %}</h1>
        <h2>{% block Error %} Forbibben {% endblock Error %}</h2>
        <h3>{% block description %} El formulario no es permitido por contenido malicioso {% endblock description %}</h3>
    </div>
</body>

</html>