{% include 'preloader.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmar Cuenta</title>
</head>
<body>
    
    {% if User %}
    <script>
        $(document).ready(function(){
            $.ajax({
            data: {"csrfmiddlewaretoken":csrftoken, "user":'{{User}}'},
            url: '{%url "ConfirmarCuenta" %}',
            type: "POST",
            error: function(error){
                console.log("no")
                alert("Error:"+error.responseJSON)
            }
            }); 
        })
    </script>
    {% else %}
    <h1>Chupese un guebo</h1>
    {% endif %}
</body>
</html>