<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="shortcut icon" href="/static/Proyecto_Ekiria/Img/LogoEkiria.png">
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleLogin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>

    <h1 class="Logo">
        <a href="{% url 'Inicio' %}"><img src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png">
        </a>
    </h1>
    <div class="contenedor">
        <h1 class="Titulo">Iniciar sesión</h1>
        <h2 class="sep-effect">o</h2>

        {% if message %}
        <br>
        <div class="Error">{{message}}</div>
        <br> {% endif %}
        <form method="POST">
            {% csrf_token %} {{form.username}}
            <br><br>
            <label>
                {{form.password}}
                <i class="fas fa-eye show" id="show" onclick="show()"></i>
                <i class="fa fa-eye-slash hide" id="hide" onclick="show()"></i>
            </label>
            <br> <br>
            <button type="submit">Iniciar sesión</button>
            {% if request.GET.next %}
                 <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            {% endif %} 
            <br><br>
            <a href="{%url 'EmailRecovery'%}" class="OTC">¿Olvidaste tu contraseña?</a>
            <p class="Reg">¿No tienes una cuenta? <a href="{%url 'Registro'%}" class="OTC">Registrate aquí</a></p>
        </form>
    </div>
    <script src="/static/ModuloUsuarios/js/mainLogin.js"></script>
    <script>
    
    </script>
</body>

</html>