
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleRegistration.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>

<body>

    <a href="{%url 'Inicio'%}"><img class="logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png"></a>
    <div class="contenido">
        <form method="POST" id="form">
            <h1>Registro</h1>
            
            {% if Error %}
                
                
            <div class="alert alert-danger">{{Error}}</div>
            {% endif %}
            {% csrf_token %}
            <div class="form">
                {{form.estado}}
                <div class="apodo">{{form.username}}
                <p id="username-p" class="text-danger"></p></div>
                <div class="email">{{form.email}}
                <p id="email-p" class="text-danger"></p></div>
                <div class="nombres">{{form.nombres}}
                <p id="nombres-p" class="text-danger"></p></div>
                <div class="apellidos">{{form.apellidos}}
                <p id="apellidos-p" class="text-danger"></p></div>
                <div class="dir">{{form.direccion}}
                <p id="direccion-p" class="text-danger"></p></div>
                <div class="fec">
                    <b>Fecha de nacimiento:</b> {{form.fec_nac}}
                    <p id="fec_nac-p" class="text-danger"></p></div>
                <div class="tel">{{form.telefono}}
                <p id="telefono-p" class="text-danger"></p></div>
                <div class="cel">{{form.celular}} 
                <p id="celular-p" class="text-danger"></p></div>
                <div class="mun"><b>Municipio:</b>{{form.municipio}}
                <p id="municipio-p" class="text-danger"></p></div>
                <div class="cod">{{form.cod_postal}} 
                        <p id="cod_postal-p" class="text-danger"></p></div>
                <div class="tipo"><b>Tipo de documento:</b>{{form.tipo_documento}}
                <p id="tipo_documento-p" class="text-danger"></p></div>
                <div class="num"> {{form.num_documento}}
                <p id="num_documento-p" class="text-danger"></p></div>
                <div class="pass1" id="password1-div"><label>
                    {{form.password1}}
                    <i class="fas fa-eye show" id="show" onclick="show('')"></i>
                    <i class="fa fa-eye-slash hide" id="hide" onclick="show('')"></i>
                </label>
                <p id="password1-p" class="text-danger"></p></div>
                <div class="pass2" id="password1-div">
                    <label>
                        {{form.password2}}
                        <i class="fas fa-eye show" id="show1" onclick="show('1')"></i>
                        <i class="fa fa-eye-slash hide" id="hide1" onclick="show('1')"></i>
                    </label>
                <p id="password2-p" class="text-danger"></p></div>
            </div>
            <br>
            <button type="submit" class="boton"><strong>Registrarme</strong></button>
            <br><br>
            <div style="text-align: center;">
                <a href="{% url 'IniciarSesion'%}">¿Ya tienes cuenta?</a>
            </div>
            <p>
                
                {% if  errors%}
                
                <script>
                var fields = [];
                </script>
                {% for key, error in errors.items %}
                <script>
                    fields.push('{"{{key}}":"{{error.as_text}}"}')
                    fields.forEach(field =>{
                        let input = document.getElementById('{{key}}')
                        input.classList.add('is-invalid')
                        let p = document.getElementById('{{key}}-p')
                        let text = '{{error.as_text}}'
                        p.innerHTML = text.substr(2)
                        let div = document.getElementById('{{key}}-div')
                        div.classList.add('rightMove')
                    })
                </script>
                    
                {% endfor %}
                    
                {% endif %}
            </p>
    </div>
    <script src="/static/ModuloUsuarios/js/mainRegistration.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
</body>

<script>
</script>

</html>