<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleRegistration.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>

    <a href="{%url 'Inicio'%}"><img class="logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png"></a>
    <div class="contenido">
        <form method="POST">
            <h1>Registro</h1>
            {% csrf_token %}
            <div class="form">
                <div class="apodo">{{form.username}}</div>
                <div class="email">{{form.email}}</div>
                <div class="nombres">{{form.nombres}}</div>
                <div class="apellidos">{{form.apellidos}}</div>
                <div class="dir">{{form.direccion}}</div>
                <div class="fec">
                    <b>Fecha de nacimiento:</b> {{form.fec_nac}}</div>
                <div class="tel">{{form.telefono}}</div>
                <div class="cel">{{form.celular}} </div>
                <div class="mun"><b>Municipio:</b>{{form.municipio}}</div>
                <div class="cod">{{form.cod_postal}} </div>
                <div class="tipo"><b>Tipo de documento:</b>{{form.tipo_documento}}</div>
                <div class="num"> {{form.num_documento}}</div>
                <div class="pass1">{{form.password1}}</div>
                <div class="pass2"> {{form.password2}}</div>
            </div>
            <br>
            <button type="submit" class="boton"><strong>Registrarme</strong></button>
            <br><br>
            <div style="text-align: center;">
                <a href="{% url 'IniciarSesion'%}">¿Ya tienes cuenta?</a>
            </div>
            <p>
                {%for field in form%}{%for error in field.errors%}{{error}}<br> {%endfor%}{%endfor%}
            </p>
    </div>
    <script src="/static/ModuloUsuarios/js/mainRegistration.js"></script>
</body>

<script>
</script>

</html>