{% extends "Https/Error.html" %} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 Not Found</title>
    {% endblock head %} {% block title %} 404 {% endblock title %} {% block Error %} Not Found {% endblock Error %} {% block description %} La pagína web que estas buscando no existe {% endblock description %}La pagína web que estas buscando no existe