{% extends "Https/Error.html" %} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Error</title>
    {% endblock head %} {% block title %} 500 {% endblock title %} {% block Error %} Internal Error {% endblock Error %} {% block description %} El servidor ha encontrado un error que no se puede manejar. {% endblock description %}