{% load crispy_forms_tags  %} 



  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ageLabel">Crear compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
       
          
       <form id="agregarcomp" action="{% url 'crearcompra'%}" class="form-p" method="POST">
         {%csrf_token%}
         
         
            <table class="table">
              <thead >
                <tr>
                  <th scope="col">Elegir</th>
                  <th scope="col">nombre</th>
                  <th scope="col">cantidad</th>
                  <th scope="col">precio</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
      

                {% if productos %}
           
                {% for producto in productos %}   
      
                <tr>
                  <td>
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" name="producto" value="{{producto.id_producto}}">
                    </div>
                   </td>
                  <td>{{producto.nombre}}</td>
                  <td>
                    {{producto.cantidad}}
                  </td>
                  <td id="precio" >{{producto.precio}}</td>
                  <td id="total">{{producto.total}}</td>


                </tr>
                {% endfor %}
                 {% endif %}
              </tbody>
            </table>

        <hr>
        <br>
        

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" onclick="registrarcomp();" class="btn btn-primary">Confirmar</button>
          </div>
        </form>    
      </div>
    </div>
  </div>

  <script>
    x='{{productos}}'
    x=parseInt(x)
    let form=$("#agregarcomp")
    token=form.find('input[name=csrfmiddlewaretoken]').val()
    var datos=[]
    datos["csrfmiddlewaretoken"]=token
    for(let i=0; i<x; i++){
      r=$("#id_producto_"+i).val()
      i=toString(i)
      console.log(i)
      datos[i]=r
      i=parseInt(i)
      console.log(i)
    }

   console.log(datos)


  </script>