<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4><i class="mdi mdi-archive centrado"></i> Módulo de Compras</h4>
        </div>
        <div class="card-body">

            {% if acceso.esAdministrador %}
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo registrar a un proveedor?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo editar a un proveedor?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo habilitar e inhabilitar a un proveedor?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo registrar un usuario?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo crear un tipo de producto?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo editar un tipo de producto?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo crear un producto?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo editar un producto?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo habilitar e inhabilitar un producto?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo funciona el reducir el stock de productos?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo descontar la cantidad del stock de productos?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo registrar un usuario?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo crear una compra?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo visualizar la información completa de una compra?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo habilitar e inhabilitar una compra?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo visualizar el gráfico de comparación de proveedores?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                                ¿Cómo funciona el gráfico de comparación de proveedores?
                            </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <!--tarjeta del acordeon osea el item-->
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                            ¿Cómo visualizar el compraré de los productos agotados?
                        </button>
                        <!--boton que activa la tarjeta del acorden el id puede ser el módulo y un numero que lo represente-->
                    </h2>
                </div>
                <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>