<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4><i class="mdi mdi-view-dashboard centrado"></i> Módulo de Configuracion</h4>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Cómo se reparte configuración?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Para que sirve administracion del Rol?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Para que es el boton de "Agregar Permisos"?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Para que es cada permiso?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Cómo agrego los permisos a un rol?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#Ventas1" aria-expanded="true" aria-controls="Ventas1">
                ¿Cómo funciona Cambios de pagina?
              </button>
                        </h2>
                    </div>
                    <div id="Ventas6" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>