<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4><i class="mdi mdi-archive centrado"></i> Módulo de Notificaciones</h4>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#notificaciones" aria-expanded="false" aria-controls="notificaciones">
              ¿Como administrar las notificaciones?
            </button>
                    </h2>
                </div>
                <div id="notificaciones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>