{%extends 'Menu_Usuario.html'%} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="/static/Modulo_compras/css/style.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleTablesInformations.css">
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleAdministration.css">


</head>
{% endblock head %} {% block Contenido %}



<div class="container">




    <div class="Table Content-table">
        <div class="Information">
            <div class="cardHeader">
                <h2>Proveedores</h2>
            </div>
            <div class="Table Add">
                <button type="button" class="Add img" onclick="agregarprov('{%url 'crearprov' %}')">
                  <i class="fas fa-user-plus"></i>
              </button>
            </div>
            <table id="TableProveedores" class="display nowrap" cellspacing="0" width="100">
                <thead>
                    <tr>
                        <td scope="col">Nombre</td>
                        <td scope="col">Télefono</td>
                        <td scope="col">Celular</td>
                        <td scope="col">Descripción</td>
                        <td scope="col">Estado</td>
                        <td scope="col">Borrar</td>
                        <td scope="col">Editar</td>
                    </tr>
                </thead>
                <tbody>
                    {%if proveedores%} {%for prov in proveedores%}

                    <tr>
                        <td>{{prov.nombre}}</td>
                        <td>{{prov.telefono}}</td>
                        <td>{{prov.celular}}</td>
                        <td>{{prov.descripcion}}</td>
                        <td>
                            <div class="form-switch">
                                <form action="{%url 'camestado' %}" method="POST" id="camestado">
                                    {%csrf_token%}
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" {%if prov.estado %} checked {%endif%} onclick="cambioestado('{{prov.id_proveedor}}')">
                                </form>
                            </div>
                        </td>
                        <td>
                            <button onclick="eliminarprov('{{ prov.id_proveedor }}')" class='buttonEliminar'><i class="mdi mdi-close" style="font-size: 17px;"></i></button>

                        </td>
                        <td>

                            <button type="button" style="background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" onclick="modificarprov('{%url 'modificarprov' prov.id_proveedor %}')"><i class="mdi mdi-account-edit"></i>   
                            </button>

                        </td> 
                    </tr>

                    {%endfor%} {% else %}

                    <h3>No se han encontrado registros</h3>

                    {% endif %}


                </tbody>
                <tfoot>
                    <tr>
                        <td scope="col">Nombre</td>
                        <td scope="col">Télefono</td>
                        <td scope="col">Celular</td>
                        <td scope="col">Descripción</td>
                        <td scope="col">Estado</td>
                        <td scope="col">Borrar</td>
                        <td scope="col">Editar</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



{% endblock Contenido %} {% block modal %}

<div class="modal fade" id="editar_prov" role="dialog">

</div>

<div class="modal fade" id="agregar_prov" role="dialog">

</div>




{% endblock modal%} {%block scripts%}

<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>
<script src="/static/Modulo_compras/js/js.js"></script>
<script src="/static/Proyecto_Ekiria/js/jsTablesInformations.js"></script>
{%endblock scripts%}

</html>