.contenido {
    overflow: auto;
    max-height: 85%;
    position: relative;
    text-align: center;
    margin: auto;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.28);
    padding: 10px 50px;
}

.logo {
    height: 100px;
    margin-left: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

form {
    position: relative;
    width: 100%;
    font-family: Ginto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #000;
    position: relative;
}

.form {
    margin-left: -20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media(max-width:950px) {
    .grid.activar .footerE {
        width: 75%;
        transition: .3s;
        margin-left: 25%;
    }
}

@media(min-width:950px) {
    .grid.activar .footerE {
        width: 80%;
        transition: .3s;
        margin-left: 20%;
    }
}

@media (max-width: 400px) {
    .contenido {
        max-width: 90%;
    }
    form input {
        width: 80% !important;
    }
    .form {
        margin-left: -45px !important;
    }
    form input {
        width: calc(100% - 10px)!important;
    }
}

@media (max-width: 750px) {
    .contenido {
        width: 80%;
    }
    .form {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-left: -25px;
    }
    form .fec input {
        width: 30%;
        float: right;
        margin-right: 11px;
    }
    form .mun select,
    form .tipo select {
        width: 60%;
        margin-left: 10px;
        margin-right: 11px;
    }
    form .mun b,
    form .tipo b,
    form .fec b {
        position: relative;
        top: 0px;
        text-align: center;
        margin: auto;
        width: 40%;
        border-radius: 20px;
    }
    .botonflex {
        grid-template-columns: 1fr;
    }
    form input {
        width: calc(100% + 10px)!important;
    }
}

.form div {
    width: 100%;
}

form select {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    line-height: 24px;
    outline: transparent;
    padding: 11px 16px;
    transition: border .3s, box-shadow .3s;
    width: 100%;
}

form input {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    line-height: 24px;
    outline: transparent;
    padding: 11px 16px;
    transition: border .3s, box-shadow .3s;
    width: calc(100% - 3px);
}

form .fec,
form .mun,
form .tipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form .fec input {
    width: calc(100% - 3px);
}

form .mun select,
form .tipo select {
    width: 100%;
}

form .mun b,
form .tipo b,
form .fec b {
    position: relative;
    top: 0px;
    text-align: center;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

form h1 {
    color: var(--Purple);
    text-align: center;
}

.boton {
    position: relative;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: var(--Purple);
    border-radius: 4px!important;
    font-size: 17px!important;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
}

.botonflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


/* Icono mostrar input password */

.contenido form label {
    position: relative;
    width: 100%;
}

.contenido form label i {
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 1.2em;
    color: #979797;
    cursor: pointer;
}

.contenido form label i.show {
    display: block;
}

.contenido form label i.hide {
    display: none;
}

.Error {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #f1000034;
    border: 0.1px solid #f1000079;
    color: #b40707;
}