* {
    --morado: #572364;
}

.contenido {
    position: relative;
    text-align: center;
    margin: auto;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.28);
    padding: 10px 50px;
}

.logo {
    position: relative;
    top: 10px;
    height: 100px;
    margin-left: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

form {
    position: relative;
    width: 100%;
    font-family: Ginto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #000;
    position: relative;
}

.form {
    margin-left: -20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media (max-width: 400px) {
    .contenido {
        width: 70% !important;
    }
    form input {
        width: 100% !important;
    }
    .form {
        margin-left: -15px !important;
    }
}

@media (max-width: 750px) {
    .contenido {
        width: 80%;
    }
    .form {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    form .fec input {
        width: 40%;
        float: right;
        margin-right: 11px;
    }
    form .mun select,
    form .tipo select {
        width: 60%;
        margin-left: 10px;
        margin-right: 11px;
    }
    form .mun b,
    form .tipo b,
    form .fec b {
        position: relative;
        top: 0px;
        text-align: center;
        margin: auto;
        width: 40%;
        border-radius: 20px;
    }
}

.form div {
    width: 100%;
}
.form div p{
    padding: 0px!important;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #ff3b4f;
    outline: none !important;
    margin-bottom: 0px;
}
form select {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    line-height: 24px;
    outline: transparent;
    padding: 11px 16px;
    transition: border .3s, box-shadow .3s;
    width: 100%;
}

form input {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    line-height: 24px;
    outline: transparent;
    padding: 11px 16px;
    transition: border .3s, box-shadow .3s;
    width: calc(100% - 36px);
}

form .fec,
form .mun,
form .tipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form .fec input {
    width: calc(100% - 36px);
}

form .mun select,
form .tipo select {
    width: 100%;
}

form .mun b,
form .tipo b,
form .fec b {
    position: relative;
    top: 0px;
    text-align: center;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

form h1 {
    color: var(--morado);
    text-align: center;
}

.boton {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: var(--morado)!important;
    border-radius: 4px!important;
    font-size: 17px!important;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
}


/* Icono mostrar input password */

.contenido form label {
    position: relative;
    width: 100%;
}

.contenido form label i {
    position: absolute;
    top: 9px !important;
    right: 10px;
    font-size: 1.2em;
    color: #979797;
    cursor: pointer;
}
.contenido form .rightMove label i {
    position: absolute;
    top: 9px !important;
    right: 50px;
    font-size: 1.2em;
    color: #979797;
    cursor: pointer;
}

.contenido form label i.show {
    display: block;
}

.contenido form label i.hide {
    display: none;
}