.Perfil_contenedor {
    width: 100%;
    height: 100%;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.Perfil_foto_perfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #000;
    outline: 1px solid #000;
    background-color: #000;
    margin-top: -10px;
    cursor: pointer;
    image-rendering: crisp-edges;
}

.Perfil_foto {
    position: relative;
}

.Perfil_Apodo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 12px;
}

.Perfil_informacion label {
    font-weight: 700;
}

.Perfil_informacion .row {
    margin: 20px 0;
    font-size: 20px;
}

.Perfil_modificar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #DDDDDD;
    box-shadow: none;
    padding: 25px;
    height: 90vh;
    border-radius: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
}

.Perfil_modificar-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.Perfil_modificar-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.Perfil_modificar-header h5 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Perfil_modificar-titulo {
    margin-bottom: 0;
    line-height: 1.5;
}

.Perfil_modificar-header .btn-close {
    padding: 0;
    margin: -0.5rem -0.5rem -0.5rem auto;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: 1;
}

.Perfil_modificar-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.5rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    border-top: 2px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.Perfil_modificar-footer button {
    margin: 0 10px;
}

.Perfil_modificar-foto {
    display: none;
    visibility: hidden;
}

.Perfil_modificar-foto-perfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
}

.PMFP {
    position: absolute;
    margin: 0 15%;
}

.FP {
    font-size: 20px;
    margin-top: 30px;
}