{% extends "Menu_Usuario.html" %} {%load static%} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda en línea</title>
    <link rel="icon" href="{% static 'Proyecto_Ekiria/Img/Logo Ekiria.png' %}">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="/static/Plugins/datetimepicker/jquery.datetimepicker.css">
</head>
{% endblock head %} {% block Contenido %}
<div class="container">
    <style>
        .card-body {
            height: 50vh !important;
            max-height: 50vh !important;
            overflow: auto;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
        }
        
        .card {
            margin: 10px 0;
        }
        
        .col-lg-6 {
            margin: 10px 0;
        }
    </style>
    <h1 class="titulosTexto tipo">Ayuda en línea</h1>
    <br>
    <div class="row">

        {% if acceso.esAdministrador %}

        <!-- Módulo de Configuración -->
        {% include 'HelpData/Configuracion.html' %}
        <br><br><br><br><br><br> {% endif %}
        <!-- Módulo de Usuarios -->
        {% include 'HelpData/Usuarios.html' %}
        <br><br><br><br><br><br> {% if acceso.esAdministrador %}
        <!-- Módulo Compras -->
        {% include 'HelpData/Compras.html' %}
        <br><br><br><br><br><br> {%endif%}
        <!-- Módulo de Ventas -->
        {% include 'HelpData/Ventas.html' %}
        <br><br><br><br><br><br>
        <!-- Módulo de Norificaciones -->
        {% include 'HelpData/Notificaciones.html' %}
    </div>

</div>


{% endblock Contenido %} {% block scripts %} {% endblock scripts %} {% comment %}
<div class="col-lg-6">
    <div class="card">
        <!--tarjeta correspondiente a cada modulo-->
        <div class="card-header">
            <h4><i class="mdi mdi-basket centrado"></i> Módulo de Ventas</h4>
        </div>
        <div class="card-body">
            <!--cuerpo de la tarjeta-->
            <div class="accordion" id="accordionExample">
                <!--acordeon-->

                {% if acceso.esAdministrador %}
                <!--Validacion para saber que tipo de usuario es acceso es un objeto que tiene 3 metodos
        .esAdministrador -> solo para administradores
        .esEmpleado -> solo para empleados
        .esCliente ->solo para clientes
        -->
                <div class="card">
                    <!--tarjeta del acordeon osea el item-->
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#Ventas5" aria-expanded="false" aria-controls="Ventas5">
                ¿Cómo crear servicios?
              </button>
                            <!--boton que activa la tarjeta del acorden el id puede ser el modulo y un numero que lo represente-->
                        </h2>
                    </div>
                    <div id="Ventas5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <!--este es el cuerpo de la tarjeta que se muestra cuando se presiona el boton el id  debe corresponder al del boton-->
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-4by3">
                                <!--este es el iframe responsive de bootstrap solo deben cambiar el src-->
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Pi1sPKrLJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endcomment %}