{% extends "Menu_Usuario.html" %} {% block head %} {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <title>Inicio</title>
</head>{% endblock head %} {% block Contenido %}
<h1 translate="yes">How are you?</h1>

{% endblock Contenido %} {% block modal %} {% endblock modal %} {% block scripts %}
<script src=""></script>
{% endblock scripts %}