 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilos propios -->
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/stylePreloader.css">
    <link rel="shortcut icon" href="/static/Proyecto_Ekiria/Img/LogoEkiria.png">
    <!-- font awesome en version 5 y 6-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/Proyecto_Ekiria/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- icnos mdi -->
    <link href="/static/Proyecto_Ekiria/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/static/Proyecto_Ekiria/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- estilos de   menu-->
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleMenuUsuario.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  Datatables  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

    <!--  extension responsive  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>

    <style media="print">
        .toggle {
            display: none;
        }
        
        .Init__Sec {
            display: none;
        }
        
        .menus {
            display: none;
        }
        
         ::-webkit-scrollbar {
            display: none;
        }
        
        .btn {
            display: none;
        }
    </style>
    </script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/Proyecto_Ekiria/assets/js/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- menu -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--   Datatables-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <!-- extension responsive -->
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <!-- token y user que se borrar despues (solo user) -->
    <script type="text/javascript">
        var user = 2

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    <!-- lo mio -->

    {% for cambio in cambios %}

    <script>
        $(document).ready(function() {
            // Cambios
            let colorFondo = "{{cambio.Color_Fondo}}"
            let texto = document.getElementById("texto");
            texto.style.backgroundColor = colorFondo;

            let TipoLetra = "{{cambio.Tipo_Letra}}"
            let body = document.querySelectorAll(".tipo");
            body.forEach(texto => {
                if (texto.style.fontFamily = TipoLetra) {
                    texto.style.fontFamily = TipoLetra
                    texto = texto.style.fontFamily = TipoLetra;
                }
            });

            let ColorLetra = "{{cambio.Color_Letra}}";
            body.forEach(textos => {
                if (textos.style.color = ColorLetra) {
                    textos.style.color = ColorLetra
                    textos = textos.style.color = ColorLetra
                }
            });
            let TamanoLetra = "{{cambio.tamano_Titulo}}"
            let tamano = document.querySelectorAll("#text");
            tamano.forEach(tamanos => {
                if (tamanos.style.fontSize = TamanoLetra) {
                    tamanos.style.fontSize = TamanoLetra + ("px")
                    tamanos = tamanos.style.fontSize = TamanoLetra + ("px")
                }
            });
            let TamanoLetra2 = "{{cambio.tamano_Texto}}"
            let tamano2 = document.querySelectorAll("#text2");
            tamano2.forEach(tamanos2 => {
                if (tamanos2.style.fontSize = TamanoLetra2) {
                    tamanos2.style.fontSize = TamanoLetra2 + ("px")
                    tamanos2 = tamanos2.style.fontSize = TamanoLetra2 + ("px")
                }
            });
        });
    </script>
    {% endfor %} {% for footer in footer %}

    <script>
        // Cambios footer
        $(document).ready(function() {
            let FondoFooter = "{{footer.Footer_Color_Fondo}}";
            let texto2 = document.getElementById("texto2");
            texto2.style.backgroundColor = FondoFooter;

            let TipoLetraFooter = "{{footer.Footer_Tipo_Letra}}";
            let body2 = document.querySelectorAll(".tipo2");
            body2.forEach(texto2 => {
                if (texto2.style.fontFamily = TipoLetraFooter) {
                    texto2.style.fontFamily = TipoLetraFooter
                    texto2 = texto2.style.fontFamily = TipoLetraFooter;
                }
            });
            let ColorLetra2 = "{{footer.Footer_Color_Letra}}";
            let texto3 = document.querySelectorAll(".tipo2");
            texto3.forEach(textos3 => {
                if (textos3.style.color = ColorLetra2) {
                    textos3.style.color = ColorLetra2
                    textos3 = textos3.style.color = ColorLetra2
                    texto2.style.color = ColorLetra2
                }
            });

            let TamanoLetra3 = "{{footer.Footer_tamano_Titulo}}";
            let tamano3 = document.querySelectorAll("#text3");
            tamano3.forEach(tamanos3 => {
                if (tamanos3.style.fontSize = TamanoLetra3) {
                    tamanos3.style.fontSize = TamanoLetra3 + ("px")
                    tamanos3 = tamanos3.style.fontSize = TamanoLetra3 + ("px")
                }
            });

            let TamanoLetra4 = "{{footer.Footer_tamano_Texto}}";
            let tamano4 = document.querySelectorAll("#text4");
            tamano4.forEach(tamanos4 => {
                if (tamanos4.style.fontSize = TamanoLetra4) {
                    tamanos4.style.fontSize = TamanoLetra4 + ("px")
                    tamanos4 = tamanos4.style.fontSize = TamanoLetra4 + ("px")
                }
            });

        });
    </script>

    {% endfor %}
</body>

</html>