{% include 'preloader.html' %} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleChanegPassword.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/LogoEkiria.png">
    <script src="https://code.jquery.com/jquery-3.5.1.js">
    </script>{% endblock head %} </head>{% block Contenido %}
<a href="{%url 'Inicio'%}"><img class="logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png"></a>
<div class="contenido" style="width:35%; margin-top:5vh; margin-bottom:10px;">
    <form method="POST">
        {%csrf_token%}
        <h1>Email</h1>
        {% if message %}
        <br>
        <div class="Error">{{message}}</div>
        <br> {% endif %} {% if success %}
        <br>
        <div class="Success">{{success}}</div>
        <br> {% endif %}
        <div>
            <label for="">
                        <input type="text" name="email" required placeholder="Ingrese su email">
                    </label>
        </div>
        <button type="submit" class="boton"><strong>Enviar</strong></button>
    </form>
</div>{% endblock Contenido %} {% block scripts %}

<script src="/static/ModuloUsuarios/js/mainRegistration.js"></script>
{% endblock scripts %}