{% include 'preloader.html' %} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleChanegPassword.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/LogoEkiria.png">
    <script src="https://code.jquery.com/jquery-3.5.1.js">
    </script>{% endblock head %} </head>{% block Contenido %}
<a href="{%url 'Inicio'%}"><img class="logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png"></a>
<div class="contenido" style="width:35%; margin-top:5vh; margin-bottom:10px;">
    <form method="POST">
        {%csrf_token%}
        <h1>Cambiar Contraseña</h1>
        {% if message %}
        <br>
        <div class="Error">{{message}}</div>
        <br> {% endif %}
        <input type="hidden" name="user" value="{{User.pk}}">
        <div class="pass">
            <label for="">
                        <input type="password" id="password1" name="password1" required placeholder="Ingrese la nueva contraseña">
                        <i class="fas fa-eye show" id="show1" onclick="show('1')"></i>
                        <i class="fas fa-eye-slash hide" id="hide1" onclick="show('1')"></i>
                    </label>
        </div>
        <div class="pass1">
            <label for="">
                            <input type="password" id="password2" name="password2" required placeholder="Confirme la contraseña">
                            <i class="fas fa-eye show" id="show2" onclick="show('2')"></i>
                            <i class="fas fa-eye-slash hide" id="hide2" onclick="show('2')"></i>
                        </label>
        </div>
        <button type="submit" class="boton"><strong>Cambiar</strong></button>
    </form>
</div>{% endblock Contenido %} {% block scripts %}

<script src="/static/ModuloUsuarios/js/mainRegistration.js"></script>
{% endblock scripts %}