{%extends 'Menu_Usuario.html'%} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/static/Modulo_compras/css/style.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="/static/bootstrap/js/bootstrap.js"></script>


</head>
{% endblock head %} {% block Contenido %}
<div class="container GridProductos">
    <form class="fomularioProducto" action="" method="post">
        {% csrf_token %}
        <h1 for="Nombre">Nombre: <sup>(*)</sup></h1> {{form.nombre}}
        <p id="nombre-p" class="text-danger"></p>
        <h1 for="proveedor">Proveedor: <sup>(*)</sup></h1> {{form.proveedor}}
        <p id="proveedor-p" class="text-danger"></p>
        <h1 for="tipo_producto">Tipo de producto: <sup>(*)</sup></h1> {{form.tipo_producto}}
        <p id="tipo_producto-p" class="text-danger"></p>
        <div for="tipo_producto" id="labelTp">
            <b id="Arrastrar" class="container">
                <br>
                Arrastra aquí el tipo de producto
            </b>
        </div>
        <table class="table">
            <tbody id="DropTipo" style="width: 100%; display:none;"></tbody>
        </table>
        <p id="tipo_producto-p" class="text-danger"></p>

        {{form.cantidad}}
        <button type="submit" class="btn btn-success " style="float: right;">Enviar</button>
    </form>
    <div class="tipo_productoroductos">
        <i class="mdi mdi-plus-circle-outline" style="cursor:pointer;" onclick="agregartp('{%url 'creartp'%}')"></i>
        <h1>Tipos de Producto</h1>
        <hr>
        <table id="Tabletipo_producto" class="table display nowrap" cellspacing="0" width="100">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for tipo in tipo %}
                <tr class="table-light focus" draggable="true" id="caja">

                    <th style="display: none;">{{tipo.pk}}</th>
                    <th scope="row">{{tipo.nombre}}</th>
                    <th scope="row" class="estado">{{tipo.estado}}</th>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-secondary">
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


{% endblock Contenido %} {% block modal %}

<div class="modal fade" id="agregar_prod" role="dialog">

</div>
<div class="modal fade" id="modificar_prod" role="dialog">

</div>

{% endblock modal%} {%block scripts%}
<script>
    $(document).ready(function() {
        $('#Tabletipo_producto').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            responsive: true
        });
    });
    const focus = document.querySelectorAll(".focus")
    focus.forEach(el => {
        el.addEventListener("mousedown", e => {
            let th = e.target
            let tr = th.parentNode
            let id = tr.getAttribute('id')
            const Tipo = document.getElementById(id);
            Poner(Tipo)
        });
    });

    function Poner(Tipo) {
        const Cont = document.querySelector('#labelTp')
        const tbody = document.getElementById('tbody')
        var tipo_producto = document.getElementById('tipo_producto')
        Cont.addEventListener('dragover', e => {
            e.preventDefault();
        })
        Cont.addEventListener('drop', e => {
            let dropTipo = document.getElementById('DropTipo')
            console.log(Tipo.firstChild.innerHTML)
            if (dropTipo.innerHTML == "") {
                var clon = Tipo.cloneNode(true);
                dropTipo.appendChild(clon);
                dropTipo.style.display = "block"
                ValueInput()
            } else {
                var clon = Tipo.cloneNode(true);
                dropTipo.replaceChild(clon, dropTipo.firstChild)
                ValueInput()
            }

        })
    }

    function ValueInput() {
        let dropTipo1 = document.getElementById('DropTipo')
        let wq = dropTipo1.firstChild
        let as = wq.cells[0]
        let select = document.getElementById('tipo_producto')
        select.value = as.innerHTML
    }
</script>
{% if errors%}

<script>
    var fields = [];
</script>
{% for key, error in errors.items %}
<script>
    fields.push('{"{{key}}":"{{error.as_text}}"}')
    fields.forEach(field => {
        let input = document.getElementById('{{key}}')
        input.classList.add('is-invalid')
        let p = document.getElementById('{{key}}-p')
        let text = '{{error.as_text}}'
        p.innerHTML = text.substr(2)
    })
</script>

{% endfor %} {% endif %}
<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>
<script src="/static/Modulo_compras/js/js.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
{%endblock scripts%}

</html>