{% extends 'Menu_Usuario.html' %} {% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{User.titulo}}</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleCreateUsers.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/LogoEkiria.png">
    <script src="https://code.jquery.com/jquery-3.5.1.js">
    </script>{% endblock head %} {% block Contenido %}
    <a href="{%url 'Inicio'%}"><img class="logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria Negro 1.png"></a>
</head>
<div class="contenido">
    <form method="POST">
        <h1>{{User.titulo}}</h1>
        {% csrf_token %}
        <div class="form">
            <div class="apodo">{{form.username}}</div>
            <div class="email">{{form.email}}</div>
            <div class="nombres">{{form.nombres}}</div>
            <div class="apellidos">{{form.apellidos}}</div>
            <div class="dir">{{form.direccion}}</div>
            <div class="fec">
                <b>Fecha de nacimiento:</b> {{form.fec_nac}}</div>
            <div class="tel">{{form.telefono}}</div>
            <div class="cel">{{form.celular}} </div>
            <div class="mun"><b>Municipio:</b>{{form.municipio}}</div>
            <div class="cod">{{form.cod_postal}} </div>
            <div class="tipo"><b>Tipo de documento:</b>{{form.tipo_documento}}</div>
            <div class="num"> {{form.num_documento}}</div>
            <div class="pass1"><label>
                    {{form.password1}}
                    <i class="fas fa-eye show" id="show" onclick="show('')"></i>
                        <i class="fas fa-eye-slash hide" id="hide" onclick="show('')"></i>
                </label></div>
            <div class="pass2">
                <label for="">{{form.password2}}
                        <i class="fas fa-eye show" id="show1" onclick="show('1')"></i>
                        <i class="fas fa-eye-slash hide" id="hide1" onclick="show('1')"></i>
                    </label></div>
        </div>
        <br>
        <div class="botonflex">
            <button type="submit" class="boton"><strong>Confirmar</strong></button>
            <button onclick="cancelCreate()" class="boton" style="background-color: lightgray;">Cancelar</button>
        </div>
</div>

{% if form.errors %} {% for field in form %}

<div>
    {% if field.errors %} {% for error in field.errors %}
    <script>
        var error = "{{error}}"
        document.getElementById("errores").innerHTML = error
    </script>
    {% endfor %}
    <script>
        alert()

        function alert() {
            Swal.fire({
                position: 'top-end',
                text: error,
                title: "Errores",
                icon: "error",
                closeOnEsc: false,
                closeOnClickOutside: true,
                timer: 25000,
                buttons: {
                    cancel: {
                        text: "Cerrar",
                        value: false,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                }
            })
        }
    </script>
    {% endif %}
</div>
{% endfor %} {% endif %}

<br><br>
</form>
</div>{% endblock Contenido %} {% block scripts %}
<script src="/static/ModuloUsuarios/js/mainAdministration.js"></script>

<script src="/static/ModuloUsuarios/js/mainRegistration.js"></script>
{% endblock scripts %}