{% load crispy_forms_tags %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifique sus servicio personalizado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{%url 'Ventas:actualizarServicioPer' object.id_servicio_personalizado  %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label class="label-control">Tipo de servicio: <sup class="requerido">(*)</sup></label>
            {{form.tipo_servicio_id|as_crispy_field}}
            <br>
            <label class="label-control">Imagen del servicio: <sup class="requerido">(*)</sup></label>
            {{form.img_servicio|as_crispy_field}}
            <br>
            <label class="label-control">Descripción:</label>  
        <div class="form-floating container descripcion" > 
           {{form.descripcion|as_crispy_field}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Modificar Servicio</button>
          </div>
        </form>
      </div>
    </div>
  </div>
