{% load crispy_forms_tags %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifique sus servicio personalizado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{%url 'Ventas:actualizarServicioPer' object.id_servicio_personalizado  %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{form.tipo_servicio_id|as_crispy_field}}
            <br>
            {{form.img_servicio|as_crispy_field}}
            <br>
            <!-- <div class="row">
                <div class="col-8" style="position: relative; right: 40px;">
                    
                </div>
                <div class="col-4">
                    <center><img id="imgActual"  style="position: relative; top: -20px; margin-right: 5px;" width="150" height="150"></center>
                </div>
            </div> -->


        <div class="form-floating container descripcion" >   
           {{form.descripcion|as_crispy_field}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Modificar Servicio</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <script>
     function readURL(input) {
  if (input.files && input.files[0]) { //Revisamos que el input tenga contenido
    var reader = new FileReader(); //Leemos el contenido
    
    reader.onload = function(e) { //Al cargar el contenido lo pasamos como atributo de la imagen de arriba
      $('#imgActual').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#id_img_servicio").change(function() { //Cuando el input cambie (se cargue un nuevo archivo) se va a ejecutar de nuevo el cambio de imagen y se verá reflejado.
  readURL(this);
});

</script> -->