
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form id="formCrearTipo_Servicio" action="{%url 'Ventas:agregarTipoServicio'%}" method="post">
            {% csrf_token %}
        <Label><strong>Nombre: <sup class="requerido">(*)</sup></strong></Label>
        {{form.nombre}}
        <p id="nombre" class="bg-light text-danger" style="color: #dc3545;"></p>
        <br>
        <Label><strong>Grado: </strong></Label>
        {% with field=form.grado_id %}
        <select name="{{ field.html_name }}" class="form-control" required="" id="{{ field.id_for_label }}">
          <option value="" selected="">---------</option>
          {% for key, value in grados.items %}
          <option value="{{ key}}" >{{  value }}</option>
          {% endfor %}
        </select>
        {% endwith %}
        <p id="grado_id" class="bg-light text-danger" style="color: #dc3545;"></p>
        <br>
        <Label><strong>Estado: </strong></Label>
        <div class="form-check form-switch">
            {{form.estado}}
            <p id="estado" class="bg-light text-danger" style="color: #dc3545;"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="registrar()">Guardar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  