<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Tipo Servicio: <strong>{{object}}</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="formEditarTipo_Servicio" action="{% url 'Ventas:editarTipoServicio' object.id_tipo_servicio%}" method="post">
            {% csrf_token %}
        <Label><strong>Nombre: <sup class="requerido">(*)</sup></strong></Label>
        {{form.nombre}}
        <p id="nombre" class="bg-light text-danger" style="color: #dc3545;"></p>
        <br>
        <Label><strong>Grado: </strong></Label>
        {% with field=form.grado_id %}
        <select name="{{ field.html_name }}" class="form-control" required="" id="{{ field.id_for_label }}">
          <option>---------</option>
          {% for key, value in grados.items %}
          <option value="{{ key}}" {% if key == object.grado_id.id %}selected{% endif %} >{{  value }}</option>
          {% endfor %}
        </select>
        {% endwith %}
        <p id="grado_id" class="bg-light text-danger" style="color: #dc3545;"></p>
        <br>
        <Label><strong>Estado:   </strong></Label>
        <div class="form-check form-switch">
            {{form.estado}}
            <p id="estado" class="bg-light text-danger" style="color: #dc3545;"></p>
        </div>
        <br>
        <hr>
        <h3>Fecha de creacion</h3>
        <h4>{{object.fecha_creacion|date:'j F Y'}}</h4>
        <br>
        <h3>Fecha de Modificacion</h3>
        <h4>{{object.fecha_actualizacion|date:'j F Y P'}}</h4>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="editar();">Modificar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  