*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}
.no-Display{
    display: none;
}
/* TARJETAS DEL CATALOGO  */
.body{
    background-color: hsl(0, 0%, 98%);
}
.col-lg-4{
    margin-top: 30px;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
   
}

.ServicePersonalizate{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.ImgServiceCatalogo{
    width: 100%;
	height: 241px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
    margin-bottom: 50px;
}




/* BOTONES  */
.contenedor-botones {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.botonC {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	color: black ;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    text-decoration: none;
}

.botonC span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
    color: black;
    
    
}

.botonC.Comprar span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 30%;
    color: white;
}

.botonC.Comprar .iconoC {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.botonC.Comprar svg {
	color: white;
	width: 35px;
	height: 35px;
}

.botonC.Comprar:hover {
	background: #2f9b05;
    color: white;
}

.botonC.Comprar:hover .iconoC {
	left: calc(100% - 50px);
	opacity: 1;
}

.botonC.Comprar:hover span {
	left: 20px;
    color: white;
}

.botonC.VerM::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid rgb(61, 61, 224);
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.botonC.VerM:hover::after {
	left: 0;
}

.botonC.Personalizar::after {
	content: "";
	width: 100%;
	height: 300px;
    color: white;
	background: rgb(45,126,233);
    background: linear-gradient(90deg, rgba(45,126,233,1) 0%, rgba(126,147,236,1) 37%, rgba(156,90,217,1) 100%, rgba(145,63,213,1) 100%, rgba(0,212,255,1) 100%);
	position: absolute;
	z-index: 1;
	top: -300px;
	left: 0;
	transition: .4s ease-in-out all;
	border-radius: 0px 0px 300px 300px;
}

.botonC.Personalizar:hover::after {
    color: white;
	top: 0;
}

.linea{
    position: absolute;
    width: 100%;
    height: 4px;
    background: rgb(37,40,54);
    background: linear-gradient(90deg, rgba(37,40,54,1) 7%, rgba(23,25,65,1) 21%, rgba(7,10,77,1) 41%, rgba(36,26,96,1) 58%, rgba(51,7,113,1) 78%, rgba(73,18,148,1) 100%);
    top: 318px;
    border-radius: 100%;
}

/* carrito */
.fila_carrito{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.img_carrito{
    width: 100px;
    height: 80px ;
}

/* finalizar la compra  */

#DiaCitaBox, #horaInicioBox{
    display: none;
}



/* servicios personalizados */

.tituloServicioPersonalizadoComentario{
    margin-top: 10px;
    font-size: 30px;
}
.fileSerPersonalizado{
    margin-top: -15px !important;
}


.AgregarServPersonCarrito{
    margin-top: 50px;
}


/* CALENDARIO */

.historialCitas{
    margin-top: 100px;
}

.ContainerHistorialCitas{
    background: rgba(255, 255, 255, 0.863);
    width: auto;
    max-height: 685px;
    top: 10px;
    overflow: auto;
    height: 500px;
}



.ContainerHistorialCitas legend{
    margin-top: 30px;
}
.verMasDetalleCitaCalendario{
    margin-left: 20px;
    font-size: 30px;
}

.containerEstadoCita{
    width: 7vw;
    height: 6vh;
    background-color: white;
    color: black;
    
}

.EstadoCitaTextoCalendario{
    text-align: center;
    top: 13px;
    position: relative;
    font-size:12px;
    font-weight: 600;
    text-transform: uppercase;
}

.containerEstadoCita.EnEspera{
    background-color: rgba(0, 0, 177, 0.562);
    color: rgb(218, 195, 195);
}

.containerEstadoCita.Cancelado{
    background-color: rgba(177, 0, 0, 0.562);
    color: rgb(218, 195, 195);;
}
.containerEstadoCita.Realizado{
    background-color: rgba(0, 177, 38, 0.562);
    color: rgb(238, 235, 235);;
}
.LinkDetalleCita{ 
    color: black;
}

/* CARRITO DE COMPRAS  */
.item {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 20px;
  }
  
  .item-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .item-image {
    height: 300px;
    width: 100%;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
  }
  
  .item-details > .item-price {
    margin: 0;
  }
  
  /* ? SHOPPING CART */
  .shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  

/* DETALLES DE LA CITAS PARA ACTUALIZAR*/

.imgServicioPerCita:hover{
    opacity: 100;
    background-color: rgba(128, 128, 128, 0.211);
    cursor: pointer;
}

/* AGREGAR SERVICIOS  */

.estadoServicioRegistro{
    margin-left: -5px !important; 
    height: 30px !important;
     width: 60px !important; 
     margin-top: -5px !important;
}

/* tarjetas para tipo de servicio  */

/* DETALLE DE SERVICIO  */

/* .img_detailService{
    background-color: red;
    width: 500px;
    height: 500px;
} */
/* .Divcentrado{
    margin: 10px 5.5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-deck1{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}
.card-deck1 .card1{
    margin-bottom: 15px;

}
.card-deck1 .card1 img{
    width: 100%;
    height: 150px;
}

@media (min-width: 992px) {  
    .card-deck1 .card1{
        width: 200px;
        margin-left:15px;
    }
    .card-deck1 .card1 img{
        height: 100px;
    }
}
@media (min-width:700px){
	.card-deck1 .card1{
        width: 200px;
    }
    .card-deck1 .card1 img{
		height: 100px;

    }
}
@media (max-width: 700px) { 
    .card-deck1 .card1{
        width: 200px;
    }
    .card-deck1{
        margin: 0 40%;
    }
    .body{
        margin: 0 40%;
    }
    .card-deck1 .card1 img{
		height: 100px;

    }
} */

 /* 
 estilo que se aplica cuando la pagina tarda en caragar, usado especialemente al envio de los correos
 */
.cajadeCarga{
    background-color: grey;
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.20;
    z-index: 999;
  }

.quitar{
    display: none;
}