{% load crispy_forms_tags  %} 

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ageLabel">Crear proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="errores" >
          
        </div>
       <form id="agregarprov" action="{% url 'crearprov'%}" class="form-p" method="POST">
         {%csrf_token%}
          {{form.nombre|as_crispy_field}}
        <p id="nombre" class="bg-light text-danger"></p>

          {{form.celular|as_crispy_field}}
        <p id="celular" class="bg-light text-danger"></p>

          {{form.telefono|as_crispy_field}}
        <p id="telefono" class="bg-light text-danger"></p>

          {{form.descripcion|as_crispy_field}}
        <p id="descripcion" class="bg-light text-danger"></p>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" onclick="registrarcp();" class="btn btn-primary">Confirmar</button>
          </div>
        </form>    
      </div>
    </div>
  </div>


