/* Variables definition */


/*-------------------------Desing of search--------------------*/

.Table.Header-table {
    position: relative;
    width: 95%;
    margin: 0 2.5%;
}

.Table.Add {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: -65px;
    margin-bottom: 20px;
}

.Table.Add .Add.img {
    background: none;
    color: inherit;
    border: 2px solid;
    padding: 10px 13px;
    font: inherit;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: inherit;
    margin-top: 0px;
    z-index: 1;
}


/*-----------------------End of design search-----------------*/


/*---------------------------Users table layout-------------------------*/

.Table.Content-table {
    position: relative;
    width: 90%;
    padding: 20px;
    margin: 20px 5%;
    border-radius: 20px;
}

.Table.Content-table .Information .cardHeader {
    position: sticky;
    top: -20px;
    left: 0;
    background-color: #fff;
    padding: 10px;
    padding-top: 20px;
    margin-left: -10px;
    width: 100%;
    z-index: 1;
}

table.dataTable {
    border-collapse: collapse!important;
    width: 100%!important;
}

.Table.Content-table .Information .cardHeader h2 {
    margin-top: 0;
    font-weight: 600;
    color: #a200ff;
}

.Table.Content-table .Information .cardHeader i {
    font-weight: 600;
    color: #a200ff;
    font-size: 32px;
}

.Table.Content-table .Information table {
    width: 100%;
    border: 1px solid;
}

.sorting_1::before {
    margin-top: -5px !important;
}

.dataTables_filter label,
.dataTables_length label {
    font-family: 'Tahoma';
}

.dataTables_length label select {
    position: relative;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 18px;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.dataTables_filter label input {
    position: relative;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 18px;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
}

.Table.Content-table .Information table thead td,
.Table.Content-table .Information table tfoot td {
    font-weight: 600;
}

.Table.Content-table .Information table tr {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}


/* .Table.Content-table .Information table tr {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
} */

.Table.Content-table .Information table tbody tr:last-child {
    border: 1px solid;
}

.Table.Content-table .Information table thead tr:last-child {
    border: 1px solid;
}

.Table.Content-table .Information table tfoot tr:last-child {
    border: 1px solid;
}

.Table.Content-table .Information table tr td {
    padding: 0 10px;
    text-align: center;
}

.Table.Content-table .Information table tr td.ver_mas {
    display: none;
}

.Table.Content-table .Information table tr .Edit {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.Table.Content-table .Information table tr td i {
    font-size: 25px;
}

.Table.Content-table .Information table .child {
    text-align: start;
}

.Table.Content-table .Information table .child ul {
    float: none;
}

.form-switch .form-check-input {
    display: block !important;
    position: relative !important;
    right: -10px!important;
    top: -2px!important;
    margin-left: 0 !important;
}

.form-switch {
    margin: 0!important;
    padding: 0!important;
}


/*--------------------------Users table layout-------------------------*/