/* variable definition */

* {
    --black: #000000;
    --menu_color: #0f0f0f;
    --white: #fff;
    --ShinyPurple: #800080;
    --Purple: #572364;
}


/* End variable definition */

body {
    background: #fff !important;
}