{% extends "Menu_Usuario.html" %} 
{%load static%}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Citas</title>
    <link rel="stylesheet" href="{% static 'Ventas/css/Ventas.css' %}">
    <link rel="icon" href="{% static 'Proyecto_Ekiria/Img/Logo Ekiria.png' %}">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="/static/Plugins/datetimepicker/jquery.datetimepicker.css">

    <!-- jquery ui esto se quita despues OJO -->
    <link rel="stylesheet" href="{%static 'Plugins/jquery-ui/Si/jquery-ui.css' %}">
    <script src="{%static 'Plugins/jquery-ui/Si/jquery-ui.js' %}"></script>

     <!--  Datatables  -->
     <link rel="stylesheet" type="text/css" href="{%static 'Plugins/DataTables/jquery.dataTables.min.css' %}" />
     <!--  extension responsive  -->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

</head>{% endblock head %}

{% block Contenido %}
<div class="container">
    <h1>Agregar Cita</h1>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-element">
                        <h4>Detalles del usuario</h4>
                        <hr>
                        <div class="input-group">
                            <label>Seleccione un usuario: <sup class="requerido">(*)</sup></label>
                            <select class="form-control select2" style="width: 100%;" name="buscarUsuario">
                            </select>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-element" style="margin-top: 30px">
                        <h4>Detalles de la cita</h4>
                        <hr>
                            <label class="label-control">Seleccione un empleado: <sup class="requerido">(*)</sup></label>
                           {{form.empleado_id}}
                           <p id="empleado_id" class="bg-light text-danger errorSegunCrispy"></p>
                            <br>
                            <div class="row">
                              <div  id="DiaCitaBox">
                                <label  class="label-control">Seleccione una Dia: <sup class="requerido">(*)</sup></label>
                                <div class="input-group">
                                  {{form.diaCita}}
                                  <div class="input-group-text">
                                    <i style="font-size: 15px;" class=" fa-regular fa-calendar"></i>
                                  </div>
                              </div>
                              <p id="diaCita" class="bg-light text-danger errorSegunCrispy"></p>
                              </div>  
                              <div id="horaInicioBox">
                                <label class="label-control">Seleccione una Hora: <sup class="requerido">(*)</sup></label>
                                <br>
                                <div class="input-group">
                                 {{form.horaInicioCita}}
                                <div class="input-group-text">
                                  <i style="font-size: 15px;" class=" fa-regular fa-clock"></i>
                                </div>
                                </div>
                                <p id="horaInicioCita" class="bg-light  errorSegunCrispy"></p>
                              </div>
                            
                            <br><br>
                            <label class="label-control">Descripción (Opcional):</label>
                            <br>
                           {{form.descripcion}}
                            <br><br>
                    </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box-element" style="margin-bottom: 30px;">
                <h4>Detalles del pedido</h4>
                <hr>
                <div class="input-group">
                    <label class="label-control"> Buscador de servicios: </label>
                    <!-- <select class="form-control " style="width: 100%;" name="buscarServicio">
                    </select> -->
                    <input type="text" class="form-control" name="buscarServicio" autocomplete="off">
                </div>
                <table class="table table-bordered" id="ServiciosTable">
                        <thead>
                        <tr>
                            <th>Eliminar</th>
                            <th>Imagen</th>
                            <th>Servicio</th>
                            <th>Tipo de servicio</th>
                            <th>precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>


{% endblock Contenido %}

{% block scripts %}

<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{%static 'Ventas/js/Ventas.js'%}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/Plugins/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script src="{% static 'Plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'Plugins/select2/lang/es.js'%}"></script>
<!--   Datatables-->
<script type="text/javascript" src="{%static 'Plugins/DataTables/jquery.dataTables.min.js' %}"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

<script>
    $.datetimepicker.setLocale('es');
    //funcion que busca horas disponibles
    function ejecutarReloj(horas){
    $('#horaInicio').datetimepicker({
    formatTime:"g:i a",
    format:'g:i A',
    datepicker:false,
    validateOnBlur: false,
    allowTimes:horas
  })
  }
  
    //buscar dia cita
    $("#DiaCita").datetimepicker({
    timepicker:false,
      format:'d/m/Y',
      minDate: 0,
      validateOnBlur: false,
      onChangeDateTime:function(dp,$input){
        let empleado=$("#empleado").val()
        $.ajax({
          type: "POST",
          url: "/Ventas/BuscarEmpleadoParaCita/",
          data: {"csrfmiddlewaretoken":csrftoken,"accion":"BuscarDiaDeEmpleado","empleado":empleado,"dia":$input.val()},
          success: function(response){
            jQuery("#horaInicioBox").css("display", "block")
            var horas = response["horasDisponibles"]
            ejecutarReloj(horas)
          },
          error: function(error){
            console.log(error.responseJSON)
          }
        })
        event.preventDefault()
      },
      disabledDates:['2022/03/17'],
    })
    //buscar empleado
    $("#empleado").on("change", function(){
      let empleado=this.value
      $.ajax({
          type: "POST",
          url: "/Ventas/BuscarEmpleadoParaCita/",
          data: {"csrfmiddlewaretoken":csrftoken,"empleado":empleado,"accion":"BuscarEmpleado"},
          success: function (response){
            $("#DiaCitaBox").css("display", "block")
          }
          
        });
      })
  
  </script>

{% endblock scripts %}