{% extends "Menu_Usuario.html" %} 
{%load static%}
{% block head %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Carrito</title>
   <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
   <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
   <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
   <link rel="stylesheet" href="/static/Ventas/css/Ventas-carrito.css">
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
</head>
{% endblock head %}

<!-- empieza el contenido del carrito  -->
{% block Contenido %}

    <div class="body" style="margin-top: 10px;">
        <div class="container" >
            {% if mensaje %}
                <div class="alert alert-warning  alert-dismissible fade show" role="alert">
                    Para seguir a la siguiente página primero debe elegir algún servicio del <a href="{% url 'Ventas:catalogo' %}" class="alert-link">Catálogo</a>. Seleccione alguno y luego vuelva
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-element">
                        <a class="btn btn-outline-secondary" href="{% url 'Ventas:catalogo' %}">&#x2190;Continuar comprando</a>
                        <br><br>
                        <table class="table">
                            <tr>
                                <th><h5>Items: <strong>{{pedido.get_items_carrito}}</strong></h5></th>
                                <th><h5>Total: <strong>${{pedido.get_total_carrito}}</strong></h5></th>
                                <th>
                                    <a style="float: right; margin: 6px;" class="btn btn-success" href="{% url 'Ventas:terminarPedido' %}">Agendar cita</a>
                                </th>
                            </tr>
                        </table>
                    </div>

                    <br>

                    <div class="box-element">
                        <div class="fila_carrito">
                            <div style="flex: 2;"></div>
                            <div style="flex: 2;"><strong>Item</strong></div>
                            <div style="flex: 1;"><strong>Precio</strong></div>
                            <div style="flex: 1;"><strong>Acciones</strong></div>
                        </div>
                        {% if serviciosx %}    
                        {% for item in serviciosx %}
                        <div class="fila_carrito">
                                <div style="flex: 2;">
                                    <img class="img_carrito" src="/media/{{item.servicio_id.img_servicio}}" alt="">
                                    </div>
                                    <div style="flex: 2;">{{item.servicio_id.nombre}}</div>
                                    <div style="flex: 1;">${{item.servicio_id.precio}}</div>
                                    <div style="flex: 1;">
                                        <button data-servicio="{{item.servicio_id.id_servicio}}" data-action="remove" class="btn addToCar" style="transform: scale(1.5);">
                                            <i class="fa-solid fa-trash"></i> </button>
                                    </div>   
                        </div>
                        {% endfor %}      
                        {% endif %}
                        
                        {% if serviciosPerx %}
                            <h5>Estos son los servicios personalizados</h5>
                            <br>
                            <div class="fila_carrito">
                                <div style="flex: 1;"></div>
                                <div style="flex: 1;"><strong>Tipo de Servicicio</strong></div>
                                <div style="flex: 2;"><strong>Descripcion</strong></div>
                                <div style="flex: 1;"><strong>Acciones</strong></div>
                            </div>
                            {% for item in serviciosPerx  %}
                            <div class="fila_carrito">
                                <div style="flex: 1;">
                                    <img class="img_carrito" src="/media/{{item.servicio_personalizado_id.img_servicio}}" alt="">
                                    </div>
                                    <div style="flex: 1">
                                        {{item.servicio_personalizado_id.tipo_servicio_id}}
                                    </div>
                                    <div style="flex: 2;">{{item.servicio_personalizado_id.descripcion}}</div>
                                    <div style="flex: 1;">
                                        <button data-servicio="{{item.servicio_personalizado_id.id_servicio_personalizado}}" data-action="removePer" class="btn addToCar" style="transform: scale(1.5);">
                                            <i class="fa-solid fa-trash"></i> </button>
                                            <button onclick="abrir_modal_serviciosPersonalizados('{%url 'Ventas:actualizarServicioPer' item.servicio_personalizado_id.id_servicio_personalizado %}')" class="btn addToCar" style="transform: scale(1.5);">
                                                <i class="fa-solid fa-pencil"></i> </button>
                                    </div>   
                        </div>
                            {% endfor %}
                                
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="modal fade" id="ActualizarServicioPer"  role="dialog">

    </div>
    
{% endblock Contenido %}



{% block modal %}
{% endblock modal %}


<!-- scripts -->
{% block scripts %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'Ventas/js/Carrito.js' %}"></script>
{% endblock scripts %}