{% extends "Menu_Usuario.html" %} 
{% load static %}

{% block head %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Catalogo</title>
   <link rel="stylesheet" href="{% static 'Ventas/css/Ventas.css' %}">
   <link rel="icon" href="{% static 'Proyecto_Ekiria/Img/Logo Ekiria.png' %}">
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   
</head>
{% endblock head %}

<!--     Empieza el contenido del catalogo    -->
{% block Contenido %}
<div class="text-center quitar"  id="spinnerLoad">
   <div class="spinner-grow " style="width: 3rem; height: 3rem;" role="status">
     <span class="visually-hidden">Cargando...</span>
   </div>
   <h4 class="quitar" id="titleSpinner">Buscando Servicio... <br> <sub> Esto puede tardar...</sub></h4>
</div>
<div class="body" id="containerInicio">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <h1>Catálogo</h1>
         </div>
         <div class="col-lg-9">
            <div class="row">
               <div class="col-8">
                  <div class="input-group mb-1">
                     <input type="search" class="form-control" placeholder="Buscar servicios.." id="BuscarServicioCatalogo">
                     <div class="input-group-append">
                        <button class="input-group-text" id="basic-addon2" onclick="BuscarServicioCatalogo()" ><i class="fa-solid fa-magnifying-glass"></i></button>
                       <button class="input-group-text" id="basic-addon2"onclick="location.reload()" ><i class="fa-solid fa-rotate-right"></i></button>
                     </div>
                   </div>
               </div>
               <!-- drop down para filtrar por tipo de servicio  -->
               <!-- <div class="col-4" >
                  <div class="dropdown">
                     <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                       Dropdown link
                     </a>
                   
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                       <a class="dropdown-item" href="#">Action</a>
                       <a class="dropdown-item" href="#">Another action</a>
                       <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                   </div>
               </div> -->
            </div>
         </div>
        
      </div>
     
      <br>
      <div class="row" id="CatalogoContainer">
         <div class="col-md-3">
            <div class="box-element">
               <div align="center"><img class="img-fluid ServicePersonaliza" src="/static/Ventas/img/masMorado.png" width="200" height="200" style="z-index: 0 !important;"></div>
            </div>
            <div class="box-element product" style="height: 160px;">
            <h6 ><strong><center>Personalizar Servicio</center> </strong></h6>
				<hr>
            <div class="contenedor-botones">
               <a style="position: relative; top: 17px !important" class="btn btn-outline-dark" href="{%url 'Ventas:personalizar'%}"><span>Personalizar</span></a><!--sI EL AZUL PERSISTE COLOCAR EL COLOR AQUI -->
            </div>
         </div>
         </div>
         
         {% if servicios %}
            {% for servicio in servicios %}
            
            <div class="col-md-3">
               <img class="img ImgServiceCatalogo" src="/media/{{servicio.servicio_id.img_servicio}}" style="z-index: 0 !important;" height="241">
               <div class="box-element product" style="height: 160px;">
                  <h6 style="width:100%; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;" ><strong>{{servicio.servicio_id.nombre}}</strong></h6>

                  <hr>
                  <button data-servicio="{{servicio.servicio_id.id_servicio}}" data-action="add" class="btn btn-outline-success addToCar">Al carrito!</button>
                  <a  class="btn  btn-outline-primary" onclick="abrir_modal_detalleServicio('{% url 'Ventas:detalleSer' servicio.servicio_id.slug %}')">Ver</a>
                  <hr>
                  <h6 style="float: left; color: gray;"><strong>Precio:</strong></h6>
                  <h6 style="float: right; "><strong>${{servicio.servicio_id.precio}}</strong></h6>
      
               </div>
            </div>
            {% endfor %}
               {% else %}
               <h1>No hay servicios que mostrar</h1>
         {% endif %}
            
      </div>
   </div>
</div>
<br><br>
<div class="modal fade" id="VerMasServivios" role="dialog" >
</div>
{% for i in footer %}
<a href="https://wa.me/{{i.Telefono}}" class="btn-wsp" target="_blank">
   <i class="fa-brands fa-whatsapp"></i>
</a>  
{% endfor %}

{% endblock Contenido %}


{% block modal %}
   <!-- Modal para ver detalle del servicio -->
   
    <!-- fin de la modal para ver detalle del servicio  -->

{% endblock modal %}
<!-- scripts -->
{% block scripts %}
<script src="{%static 'Ventas/js/Ventas.js'%}"></script>
<script src="{% static 'Ventas/js/Carrito.js' %}"></script>
<script>
  
   function BuscarServicioCatalogo(){
      $("#CatalogoContainer").css("display", "none");
      let cajaI = $("#containerInicio")
      let spinner = $("#spinnerLoad")
      let titulo = $("#titleSpinner") 
      cajaI.css("display", "none")
      spinner.removeClass("quitar")
      spinner.css("margin-top", "40vh")
      titulo.removeClass("quitar")
      titulo.css("margin-top", "15px")
      var busqueda = $("#BuscarServicioCatalogo").val();
      $.ajax({
         url: "{% url 'Ventas:buscarServicioCatalogo' %}",
         type: "POST",
         data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "busqueda": busqueda,
            "accion":"BuscarServicioCatalogo"
         },
         success: function(data){
            $("#CatalogoContainer").css("display", "flex");
            cajaI.css("display", "block")
            spinner.addClass("quitar")
            spinner.css("margin-top", "0vh")
            titulo.addClass("quitar")
            titulo.css("margin-top", "0px")
            function InsertToHTML(datos){
               var html = "";
               if(datos.length > 0){
                  for(dato in datos){
                     let slug =  datos[dato]["slug"]
                     let id  = datos[dato]["id_servicio"]
                     var url = datos[dato]["carrito"]
                     html += '<div class="col-md-3">'+
                        '<img class="img ImgServiceCatalogo" src="'+datos[dato]["img_servicio"]+'" style="z-index: 0 !important;" height="241">'+
                        '<div class="box-element product" style="height: 160px;">'+
                           '<h6 style="width:100%; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;" ><strong>'+datos[dato]["nombre"]+'</strong></h6>'+
                           '<hr>'+
                          ' <button data-servicio="'+datos[dato]["id_servicio"]+'" data-action="add" class="btn btn-outline-success addToCar" onclick="AjaxAddService('+url+')">Al carrito!</button>'+
                           '<a  class="btn  btn-outline-primary" onclick="'+slug+'")">Ver</a>'+
                           '<hr>'+
                           '<h6 style="float: left; color: gray;"><strong>Precio:</strong></h6>'+
                           '<h6 style="float: right; "><strong>$'+datos[dato]["precio"]+'</strong></h6>'+
                        '</div>'+
                     '</div>'
                     
                  }
                  
               }else{
                  html += '<div class="card">'+
                              '<h4>No se encontraron coincidencias con <u>'+ $("#BuscarServicioCatalogo").val()+'</u></h4>'+
                           '</div>'
               }
               return html
            }

            $("#CatalogoContainer").html(InsertToHTML(data))
         }
      });
   }
datoss = 
   AjaxAddService(datos)
  
</script>
{% endblock scripts %}
