{% extends "Menu_Usuario.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Servicio</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>{% endblock head %}

{% block Contenido %}
<h1>Editar Servicio</h1>
<div class="container">
    <form id="EditarServicioForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <Label><strong>Nombre:   </strong></Label>
                {{form.nombre|as_crispy_field}}
        </div>
        <div class="col" >
            <Label><strong>Tipo de Servicio:  </strong></Label>
            {{form.tipo_servicio_id|as_crispy_field}}
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <Label><strong>Precio: </strong></Label>
            {{form.precio|as_crispy_field}}
        </div>
        <div class="col" style="display: flex;">
            <Label><strong>Estado:  </strong></Label>
            <div class="form-check form-switch">
                {{form.estado|as_crispy_field}}
            </div>
        </div>
    </div>
    <div >
        <i class="fas fa-file-image" style="width: 50px; font-size: 30px; margin-top: 20px;"></i>
        {{form.img_servicio|as_crispy_field}}
    </div>
    <div class="col">
        <Label><strong>Slug:   </strong></Label>
            {{form.slug|as_crispy_field}}
    </div>
    <div class="col">
        <Label><strong>Duracion (en minutos):   </strong></Label>
            {{form.duracion|as_crispy_field}}
    </div>
    <div style="margin-top: 30px;">
        <Label><strong>Descripcion: </strong></Label>
        <div class="form  descripcion">
            {{form.descripcion|as_crispy_field}}
        </div>
        <br><br>
        <button type="submit" class="btn btn-block btn-success" onclick="ConfirmacionEditarServicio()">Editar Servicio</button>
    </form>
</div>
<br><br>    
{% endblock Contenido %}

{% block scripts %}
<script src="{% static 'Ventas/js/Servicios.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock scripts %}