{% extends "Menu_Usuario.html" %} 
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Servicios</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>{% endblock head %}

{% block Contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listar Servicios</h1>
    </div>
    <div class="col">
      
      <a href="{% url 'Ventas:agregarServicio' %}"><span class=" float-end" style="font-size: 48px; margin-right: 80px; margin-top: 10px;"><i class="fa-solid fa-circle-plus"></i></span></a>
    </div>
  </div>
    <table class="table table-striped table-responsive">
        <thead>
           <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Imagen</th>
              <th scope="col">Precio</th>
              <th scope="col">Tipo Servicio</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Slug</th>
              <th scope="col">Fecha Creacion</th>
              <th scope="col">Fecha Actualizacion</th>
              <th scope="col">Estado</th>
              <th scope="row" colspan="2">Acciones</th>
           </tr>
        </thead>
        <tbody>
          
          {% if servicios %}
            {% for servicio in servicios %}
            <tr>
              <th scope="row">{{servicio.nombre}}</th>
              <td><img src="/media/{{servicio.img_servicio}}" style="border-radius: 15px;" width="150" height="100"></td>
              <td>${{servicio.precio}}</td>
              <td>{{servicio.tipo_servicio_id}}</td>
              <td ><p style="width:80px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">{{servicio.descripcion}}</p></td>
              <td>{{servicio.slug}}</td>
              <td>{{servicio.fecha_creacion}}</td>
              <td>{{servicio.fecha_actualizacion}}</td>
              <td>
              {% if servicio.estado == True %}Activo{%else%}Inactivo{% endif %}
                </td>
              <td><a href="{%url 'Ventas:editarServicio' servicio.id_servicio %}"><i class="fas fa-eye" style="font-size: 25px;"></i></a></td>
              <td>
                <form action="{%url 'Ventas:cambiarEstadoServicio'%}" method="post" id="EstadoServicioForm">
                  {%csrf_token%}
                  <div class="form-check form-switch switch-Cambio-TipoServicio">
                     <input class="form-check-input kljkldsfjh" type="checkbox" role="switch" id="lopsdyu" name="esatdo" onclick="CambiarEstadoServicio('{{servicio.id_servicio}}')"  {% if servicio.estado == True%}checked{%endif%}>
                   </div>                                  
               </form>
        
              </td>
           </tr>
            {% endfor %}
            {%else%}
            <h1>No hay Registros</h1>
          {% endif %}
        </tbody>
     </table>
     <br><br>
</div>





{% endblock Contenido %}

{% block scripts %}
<script src="{% static 'Ventas/js/Servicios.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock scripts %}
