{% extends "Menu_Usuario.html" %} 
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Servicios</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--  Datatables  -->
    <link rel="stylesheet" type="text/css" href="{%static 'Plugins/DataTables/jquery.dataTables.min.css' %}" />

    <!--  extension responsive  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
</head>{% endblock head %}

{% block Contenido %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>Listar Servicios</h1>
    </div>
    <div class="col-2">
      <a class="btn" href="{% url 'Ventas:agregarServicio' %}"><span class="float-end" style="font-size: 48px; margin-right: 80px; margin-top: 10px;"><i class="fa-solid fa-circle-plus"></i></span></a>
    </div>
  </div>
     <table id="listarServiciosTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Precio</th>
          <th>Tipo Servicio</th>
          <th>Descripción</th>
          <th>Slug</th>
          <th>Estado</th>
          <th>Acciones</th>
       </tr>
      </thead>
      <tbody>
        
        {% if servicios %}
        {% for servicio in servicios %}
        <tr>
          <td>{{servicio.nombre}}</td>
          <td><img src="/media/{{servicio.img_servicio}}" style="border-radius: 15px;" width="150" height="100"></td>
          <td>${{servicio.precio}}</td>
          <td>{{servicio.tipo_servicio_id}}</td>
          <td><p style="width:80px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">{{servicio.descripcion}}</p></td>
          <td>{{servicio.slug}}</td>
          <td>{% if servicio.estado == True %}Activo{%else%}Inactivo{% endif %}</td>
          <td><form action="{%url 'Ventas:cambiarEstadoServicio'%}" method="post" id="EstadoServicioForm">
            {%csrf_token%}
            <div class="form-check form-switch switch-Cambio-TipoServicio">
               <input class="form-check-input" type="checkbox" role="switch" id="lopsdyu" name="esatdo" onclick="CambiarEstadoServicio('{{servicio.id_servicio}}')"  {% if servicio.estado == True%}checked{%endif%}>
             </div>                                  
         </form></td>
      </tr>
        {% endfor %}
      {% else %}
      <h1>No hay servicios registrados</h1>
        {% endif %}
          
      </tbody>
    
    </table>
</div>

{% block scripts %}
<script src="{% static 'Ventas/js/Servicios.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="{%static 'Plugins/DataTables/jquery.dataTables.min.js' %}"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

<script>
 $(document).ready(function () {
    $('#listarServiciosTable').DataTable({
          "language": {
             "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
         },
         responsive:true
    });
  });
</script>
{% endblock scripts %}

{% endblock Contenido %}


