{% extends "Menu_Usuario.html" %} 

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Citas</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>{% endblock head %}

{% block Contenido %}
<h1>Listar Citas</h1>
<div class="text-center quitar"  id="spinnerLoad">
   <div class="spinner-grow " style="width: 3rem; height: 3rem;" role="status">
     <span class="visually-hidden">Cargando...</span>
   </div>
   <h4 class="quitar" id="titleSpinner">Confirmando cita... <br> <sub> Notificando al cliente...</sub></h4>

 </div>
<div class="container" id="containerInicio">
    <table class="table table-striped">
        <thead>
           <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Total</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col" colspan="2">Acciones</th>
           </tr>
        </thead>
        <tbody>
       
           {% if citas %}
               {% for cita in citas %}
               <tr>
                  <th scope="row">{{cita.cliente_id.nombres | upper}} {{cita.cliente_id.apellidos | upper}}</th>
                  <td>${{cita.pedido_id.total_pagar}}</td>
                  <td>{{cita.diaCita}}</td>
                  <td>{% if cita.cancelado == True %} Cancelado {% else %}{% if cita.estado == True %}Confirmado {% else %}Pendiente{% endif %}{% endif %}

                  </td>
                  <td><a href="{%url 'Ventas:detalleEditarCita' cita.id_cita %}"><i class="fas fa-eye" style="font-size: 25px;"></i></a></td>
                  <td>
                     {% if cita.cancelado == True %}
                     <i class="fas fa-times-circle" style="font-size: 25px; color: red;" ></i>
                     {% else %}
                        {% if cita.estado == True %}
                        <!-- onclick="CancelarCita3('{{cita.id_cita}}')" -->
                           <i class="fas fa-check-circle" style="font-size: 25px; color: green;" ></i>
                        {% else %}
                           <a type="button" onclick="ConfirmarCita('{{cita.id_cita}}')"><i class="fas fa-clock" style="font-size: 25px; color: orange;" ></i></a>
                        {% endif %}
                     {% endif %}
                    
                  </td>
               </tr>
               {% endfor %}
               {% else  %}
               <h1>No hay registros</h1>
           {% endif %}
           
         
        
        </tbody>
     </table>
     
</div>


{% block scripts %}
<script src="/static/Ventas/js/Ventas.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock scripts %}
{% endblock Contenido %}