{% extends "Menu_Usuario.html" %}
{% load static %}

{% block head %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>



{% endblock head %}
    

{% block Contenido %}

<style>
  .cajadeCarga{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.30;
    position: absolute;
  }
</style>
    <div class="cajaPrueba45">

    </div>


{% endblock Contenido %}



{% block modal %}{% endblock modal %}
  


{% block scripts %}
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>

{% endblock scripts %}

















{% comment %}
{% block head %}
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Static Exampsdsle</title>

    
    <link rel="stylesheet" href="/static/Plugins/datetimepicker/jquery.datetimepicker.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/Plugins/datetimepicker/build/jquery.datetimepicker.full.js"></script>
    

  </head>

{% endblock head %}
    


{% block Contenido %}


<input id="datetimepicker" type="text" autocomplete="off">




{% endblock Contenido %}



{% block modal %}

  
{% endblock modal %}
  


{% block scripts %}

<script>
 $('#datetimepicker').datetimepicker();
</script>

{% endblock scripts %}
{% endcomment %}
  

