{% extends "Menu_Usuario.html" %}
{%load static%}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion Ventas</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="{% static 'Ventas/css/Ventas-admin.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    
    <!-- <link rel="stylesheet" href="{%static 'Data_Table/jquery.dataTables.min.css'%}"> -->
</head>{% endblock head %}

{% block Contenido %}
<h1>Administracion Ventas</h1>
<div class="container">
   
   {% if errores %}
   <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>

    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div> <strong>Error!</strong> {{errores}}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {% endif %}
      
   <div class="row">
      <div class="col-10">
        <h2>Catalogo</h2>
      </div>
      <div class="col-2">
        <button class="btn" onclick="abrir_modal_AgregarServicioCatalogo('{% url 'Ventas:agregarServicioCatalogo' %}')"><span class="float" style="font-size: 48px; margin-right: -80%;"><i class="fa-solid fa-circle-plus"></i></span></button>
      </div>
    </div>
   
    <table id="dataTableExample" class="table table-striped">
        <thead>
           <tr>
              <th scope="col">#</th>
              <th scope="col">Foto</th>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col">Acciones</th>
           </tr>
        </thead>
        <tbody>
           
           {% if servicios %}
              {% for servicio in  servicios%}
              <tr>
               <th scope="row">{{ forloop.counter }}</th>
               <td><img src="/media/{{servicio.servicio_id.img_servicio}}" class="" width="150" height="100"></td>
               <td><p>{{servicio.servicio_id.nombre}}</p></td>
               <td>${{servicio.servicio_id.precio}}</td>
               <td>
                  <form id="EstadoTipoServicioCatalogoForm" method="post" action="{% url 'Ventas:cambiarEstadoServicioEnCatalogo' %}" >
                     {%csrf_token%}
                     <div class="form-check form-switch switch-Cambio-TipoServicio" style="top: 20px;">
                        <input class="form-check-input " type="checkbox" role="switch"  name="esatdo" onclick="CambiarEstadoServicioCatalogo('{{servicio.id_catalogo}}')"  {% if servicio.estado == True %}checked{%endif%}>
                      </div>                                  
                  </form>
               </td>
            </tr>
              {% endfor %}
                 
              {% else %}
              <h1>No se encontraron servicios que se encuentren disponibles, <strong>Para habilitar servicios primero crealos, luego vuelve</strong></h1>
           {% endif %}
        </tbody>
     </table>
     
     {% if servicios %}
        {% include 'paginacion.html' %}
     {% endif %}
        
     <div class="row">
    <div class="col-10">
      <h2>Tipos de Servicio</h2>
    </div>
    <div class="col-2">
      <button class="btn" onclick="abrir_modal_crear('{% url 'Ventas:agregarTipoServicio' %}')"><span class="float" style="font-size: 48px; margin-right: -80%;"><i class="fa-solid fa-circle-plus"></i></span></button>
    </div>
  </div>
     <div class="Admin Events">
      <div class="Information">
         {% if Tipo_Servicios%}
            {% for tipo_servicio in  Tipo_Servicios %}
               
                  <div class="cardbox">
                     <div class="Card">
                           <button class="btn" onclick="abrir_modal_editar('{% url 'Ventas:editarTipoServicio' tipo_servicio.id_tipo_servicio %}')">
                              <div class="container-text-services">
                                 <div class="cardName"><p>{{tipo_servicio.nombre}}</p></div>
                              </div>
                              
                           </button>
                     <div class="line-vertical">
                     </div>
                        <div class="iconA">
                           <button class="btn" style="transform: scale(1.5);" onclick="abrir_modal_eliminar('{% url 'Ventas:eliminarTipoServicio' tipo_servicio.id_tipo_servicio %}')">
                              <i class="fa-solid fa-trash"></i> </button>
                              <form id="EstadoTipoServicioForm2" method="post" action="{% url 'Ventas:editarEstadoTipoServicio' %}" >
                                 {%csrf_token%}
                                 <div class="form-check form-switch switch-Cambio-TipoServicio">
                                    <input class="form-check-input kljkldsfjh" type="checkbox" role="switch"  name="esatdo" onclick="CambiarEstadoTipoServicio('{{tipo_servicio.id_tipo_servicio}}')"  {% if tipo_servicio.estado == True%}checked{%endif%}>
                                  </div>                                  
                              </form>
                        </div>
                     </div>
               </div>
               
             {% endfor %} 
             
            {% else %}
               No hay tipos de servicios registrados
         {% endif %}
      </div>
  </div>
  <div  data-backdrop="static" class="modal fade" id="EditarTipoServicio" role="dialog" >
   
 </div>
 <div class="modal fade" id="AgregarTipoServicio" role="dialog">
   
</div>
<div class="modal fade" id="EliminarTipoServicio"  role="dialog">

</div>
<div class="modal fade bd-example-modal-lg" id="AgregarServicioCatalogo" role="dialog">

</div>
</div>
{% endblock Contenido %}

{% block modals %}
 
{% endblock modals %}


{% block scripts %}


<script src="{% static 'Ventas/js/Admin.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock scripts %}
   