{% extends 'Menu_Usuario.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/static/Configuracion/css/estilo.css">
    <title>Permisos Admin</title>
</head>
        {% endblock head %}
        {%block Contenido%}

        
    <h1 class="titulo">Asignacion de Permisos</h1>
    <div id="container-main" >
    <div class="container">
        <div class="row">
            <div class=" col-md-12 search">
                <form method="GET">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" name="buscar" id="buscar"  placeholder="Buscar...">
                            <!-- <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class=" botonlist btn-primary" style="height: 38px;"  >Buscar</button>
                                <a   class="btn replay" style="height: 38px;"href="{% url 'Admin'  grupo %}"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                            </span> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="PermiAdmin col-lg-6">
        <div class="PermiAdmin2" >
                <h3>Permisos del rol {{rol.name}}</h3>
                <form action="" method="POST">
            <div class="nada"id="permisoSi">
                    {%if permisos%}
                    {% for i in permisos %}
                    <div class="articulo contenedorName" ><div class="form-check">
                        <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault{{i.pk}}">
                        <label class="form-check-label" for="flexCheckDefault{{i.pk}}">Permiso - {{forloop.counter}}: <s id="PermisoName" >{{i.name}}</s><br><br>
                        </label>
                      </div>
                      
                          </div>
                          {% endfor %}
                          
                        {%else%}
                            <h1>No se encontraron coincidencias</h1>
                        {%endif%}
                       
                   
                </div><hr>
                <input type="button" value="enviar" class="btn btn-outline-secondary">
            </form>
            </div>
        </div>
     
        
        <div class="PermiAdmin col-lg-6">
            <div class="PermiAdmin2" >
                    <h3>Permisos para Agregar al rol {{rol.name}}</h3>
                    <form action="{%url 'Admin' grupo %}" method="post">
                        {% csrf_token %}
                        <div class="nada"id="permisoNo">
                        {%if permisosexclu%}
                        {% for i in permisosexclu %}
                        <div class="articulo contenedorName">
                            <div class="form-check" id="{{i.pk}}">
                                <input class=" form-check-input" type="checkbox" value="{{i.codename}}" id="flexCheckDefaultA{{i.pk}}">
                                <label class="form-check-label" for="flexCheckDefaultA{{i.pk}}">Permiso - {{forloop.counter}}: <s id="PermisoNameA" >{{i.name}}</s><br><br>
                                </label>
                              </div>
                            </div>
                            {% endfor %}
                            {%else%}
                                <h1>No se encontraron coincidencias</h1>
                            {%endif%}

                         </div><hr>
                         <input type="submit" value="enviar" name="agregar" id="agregar" class="btn btn-outline-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    {% endblock Contenido %}
    
    {% block scripts %}
    <script>
    
    let per = document.querySelectorAll("#PermisoNameA")
    let perSi = document.querySelectorAll("#PermisoName")
    permisoAgregar=[]
    permisoTiene=[]
    permiso=[]
    for (let i = 0; i < per.length; i++) {
        let permiso = per[i].parentNode.parentNode.childNodes[1]
        permiso.addEventListener('click',p=>{
            let t = p.target
            let y = t.parentNode
            let div = y.parentNode
            let i = y.cloneNode(true)
            let valor = i.childNodes[1].value
            if (permisoAgregar.includes({valor}) == false){
                permisoAgregar.push(valor)
            }
            else{
                permisoAgregar.splice(valor,1)
            }
            let cont = document.getElementById('permisoSi')
            console.log(permisoAgregar)
            cont.appendChild(div)
        })
    }
    for (let i = 0; i < perSi.length; i++) {
        let permiso = perSi[i].parentNode.parentNode.childNodes[1]
        permiso.addEventListener('click',p=>{
            let t = p.target
            let y = t.parentNode
            let div = y.parentNode
            let i = y.cloneNode(true)
            let valor = i.childNodes[1].value
            if (permisoTiene.includes(valor) == false){
                permisoTiene.push(valor)
            }
            else{
                permisoTiene.splice(valor,1)
            }
            let cont = document.getElementById('permisoNo')
            console.log(permisoTiene)
            cont.appendChild(div)
        })
    }

    </script>
    <script src="/static/Configuracion/js/main.js"></script>
    <script src="/static/Configuracion/js/TraducirPermisos.js"></script>
    {% endblock scripts %}
        