{%extends 'Menu_Usuario.html'%} {%load static%}

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/Configuracion/css/estilo.css">

    <title>Cambios-Pagina</title>
    {% endblock head %}
</head>

{% block Contenido %}
<div id="body">
    <h3 class="tituloCambios">Cambios de pagina</h3>
    <div class="contenedorcambios">
        {%if Cambios%} {%for cambios in Cambios%}
        <div class="ContenedorMision">
            <div class="ContMision">
                <div class="recuadro" id="texto">

                    <h4 id="text" class="tipo">MISIÓN</h4>
                    <p id="text2" class="tipo">{{cambios.Texto_Mision}}</p>
                    <h4 id="text" class="tipo">VISIÓN</h4>
                    <p id="text2" class="tipo">{{cambios.Texto_Vision}}</p>

                </div>
                <form id="cambiosPaginaForm" action="{% url 'Crear'%}" method="post">
                    {% csrf_token %}
                    <div class="seleccionar">
                        <label for="">Color de Fondo</label>
                        <input value="{{cambios.Color_Fondo}}" type="text" name="Color_Fondo" id="ColorFondo" placeholder="en ingles " onkeydown="ColorFondo1(event);">
                    </div>
                    <br>
                    <div class="seleccionar">
                        <label for="">Color de Letra</label>
                        <input value="{{cambios.Color_Letra}}" type="text" name="Color_Letra" id="ColorLetra" placeholder="en ingles " onkeydown="ColorLetra1(event);">
                    </div>
                    <br>
                    <div class="seleccionar">
                        <label for="">Tamaño de Letra del titulo</label>
                        <input value="{{cambios.tamano_Titulo}}" type="text" name="tamano_Titulo" id="TamanoLetra" onkeydown="CambiarTamano1(event);">
                    </div>
                    <br>
                    <div class="seleccionar">
                        <label for="">Tamaño de Letra del parrafo</label>
                        <input value="{{cambios.tamano_Texto}}" type="text" name="tamano_Texto" id="TamanoLetra2" onkeydown="CambiarTamano2(event);">
                    </div>
                    <br>
                    <label for="TipoLetra">tipo de letra</label>
                    <select id="TipoLetra" name="Tipo_Letra" onchange="CambioLetra1();">
                <option {% if cambios.Tipo_Letra == 'tahoma' %} selected {%endif %} value="tahoma">Tahoma</option>
                <option {% if cambios.Tipo_Letra == 'arial' %} selected {%endif %} value="arial">Arial</option>
                <option {% if cambios.Tipo_Letra == 'cursive' %} selected {%  endif %} value="cursive">cursive</option>
              </select>
                    <br>
                    <div class="editarcambios">
                        <div>
                            <label class="separacambios">Edita la Mision</label>
                            <br><br>
                            <textarea name="Texto_Mision" id="TextoEditar" cols="50" rows="10">{{cambios.Texto_Mision}}</textarea>
                        </div>
                        <div>
                            <label class="separacambios">Edita la Vision</label>
                            <br><br>
                            <textarea name="Texto_Vision" id="TextoEditar" cols="50" rows="10">{{cambios.Texto_Vision}}</textarea>

                            <input type="hidden" name="id_cambio" value="{{cambios.id_cambios}}">
                        </div>
                        <script>
                            $(document).ready(function() {
                                let colorFondo = $("#ColorFondo").val()
                                let texto = document.getElementById("texto");
                                texto.style.backgroundColor = colorFondo;

                                let TipoLetra = document.querySelector("#TipoLetra").value;
                                let body = document.querySelectorAll(".tipo");
                                body.forEach(texto => {
                                    if (texto.style.fontFamily = TipoLetra) {
                                        texto.style.fontFamily = TipoLetra
                                        texto = texto.style.fontFamily = TipoLetra;
                                    }
                                });

                            });
                        </script>
                        <script>
                            let ColorLetra = document.querySelector("#ColorLetra").value;
                            let texto = document.querySelectorAll(".tipo");
                            texto.forEach(textos => {
                                if (textos.style.color = ColorLetra) {
                                    textos.style.color = ColorLetra
                                    textos = textos.style.color = ColorLetra
                                }
                            });

                            let TamanoLetra = document.querySelector("#TamanoLetra").value;
                            let tamano = document.querySelectorAll("#text");
                            tamano.forEach(tamanos => {
                                if (tamanos.style.fontSize = TamanoLetra) {
                                    tamanos.style.fontSize = TamanoLetra + ("px")
                                    tamanos = tamanos.style.fontSize = TamanoLetra + ("px")
                                }
                            });

                            let TamanoLetra2 = document.querySelector("#TamanoLetra2").value;
                            let tamano2 = document.querySelectorAll("#text2");
                            tamano2.forEach(tamanos2 => {
                                if (tamanos2.style.fontSize = TamanoLetra2) {
                                    tamanos2.style.fontSize = TamanoLetra2 + ("px")
                                    tamanos2 = tamanos2.style.fontSize = TamanoLetra2 + ("px")
                                }
                            });
                        </script>
                        {%endfor%} {%else%}

                        <h1>No hay registros</h1>

                        {%endif%}
                    </div>
                    <button type="button" class="btn btn-warning botonEditarCambios" onclick="ActualizarCambiosPagina()">Editar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- foteeer -->
    <div class="contactenos">
        {%if footer%} {%for Footers in footer%}
        <div class="recuadro" id="texto2">
            <h1 id="text3" class="tipo2">Contactenos</h1>
            <a href="https://wa.me/{{Footers.Telefono}}" target="_blank"><img class="imgwhats" src="{%static 'Configuracion/img/whatsapp.png'%}"></a>
            <hr>
            <h3 id="text4" class="tipo2">Direccion: {{Footers.Direccion}}</h3>
            <hr>
            <h3 id="text4" class="tipo2">&copy;Todos los derechos reservados Ekiria {{Footers.Derechos}} - Sena</h3>
            <hr>
        </div>
        <form id="CambiosFooterForm" action="{% url 'CrearFooter'%}" method="post">
            {% csrf_token %}
            <div class="seleccionar2">
                <div class="seleccionar">
                    <label for="">Color de Fondo</label>
                    <input type="text" value="{{Footers.Footer_Color_Fondo}}" name="Footer_Color_Fondo" id="ColorFondo2" placeholder="en ingles " onkeydown="ColorFondoFooter2(event);">
                </div>
                <br>
                <div class="seleccionar">
                    <label for="">Color de Letra</label>
                    <input type="text" value="{{Footers.Footer_Color_Letra}}" name="Footer_Color_Letra" id="ColorLetra2" placeholder="en ingles " onkeydown="ColorLetraFooter2(event);">
                </div>
                <br>
                <div class="seleccionar">
                    <label for="">Tamaño de Letra del titulo</label>
                    <input type="text" value="{{Footers.Footer_tamano_Titulo}}" name="Footer_tamano_Titulo" id="TamanoLetra3" onkeydown="CambiarTamanoFooter2(event);">
                </div>
                <br>
                <div class="seleccionar">
                    <label for="">Tamaño de Letra del parrafo</label>
                    <input type="text" value="{{Footers.Footer_tamano_Texto}}" name="Footer_tamano_Texto" id="TamanoLetra4" onkeydown="CambiarTamano2Footer(event);">
                </div>
                <br>
                <label for="TipoLetra2">tipo de letra</label>
                <select id="TipoLetra2" name="Footer_Tipo_Letra" onchange="CambioLetraFooter2();">
                  <option {% if Footers.Footer_Tipo_Letra == 'tahoma' %} selected {%endif %} value="tahoma">Tahoma</option>
                  <option {% if Footers.Footer_Tipo_Letra == 'arial' %} selected {%endif %} value="arial">Arial</option>
                  <option {% if Footers.Footer_Tipo_Letra == 'cursive' %} selected {%  endif %} value="cursive">cursive</option>
                </select>
                <br>
                <br>
                <div class="editarcambios">
                    <div>
                        <hr>
                        <label class="separacambios">Edita el Derechos</label>
                        <br><br>
                        <textarea id="EditarDerechos" value="{{Footers.Derechos}}" name="Derechos" cols="10" rows="2">{{Footers.Derechos}}</textarea>
                    </div>
                    <hr>
                    <div>
                        <label class="separacambios">Edita la Direccion</label>
                        <br><br>
                        <textarea id="EditarDireccion" value="{{Footers.Direccion}}" name="Direccion" cols="30" rows="10">{{Footers.Direccion}}</textarea>
                    </div>
                    <div>
                        <label class="separacambios">Edita el Telefono</label>
                        <br><br>
                        <textarea id="EditarTelefono" value="{{Footers.Telefono}}" name="Telefono" cols="30" rows="10">{{Footers.Telefono}}</textarea>
                    </div>
                    <input type="hidden" name="id_footer" value="{{Footers.id_footer}}">
                    <script>
                        $(document).ready(function() {
                            let FondoFooter = $("#ColorFondo2").val()
                            let texto2 = document.getElementById("texto2");
                            texto2.style.backgroundColor = FondoFooter;

                            let TipoLetraFooter = document.querySelector("#TipoLetra2").value;
                            let body2 = document.querySelectorAll(".tipo2");
                            body2.forEach(texto2 => {
                                if (texto2.style.fontFamily = TipoLetraFooter) {
                                    texto2.style.fontFamily = TipoLetraFooter
                                    texto2 = texto2.style.fontFamily = TipoLetraFooter;
                                }
                            });

                        });
                    </script>
                    <script>
                        let ColorLetra2 = document.querySelector("#ColorLetra2").value;
                        let texto3 = document.querySelectorAll(".tipo2");
                        texto3.forEach(textos3 => {
                            if (textos3.style.color = ColorLetra2) {
                                textos3.style.color = ColorLetra2
                                textos3 = textos3.style.color = ColorLetra2
                            }
                        });

                        let TamanoLetra3 = document.querySelector("#TamanoLetra3").value;
                        let tamano3 = document.querySelectorAll("#text3");
                        tamano3.forEach(tamanos3 => {
                            if (tamanos3.style.fontSize = TamanoLetra3) {
                                tamanos3.style.fontSize = TamanoLetra3 + ("px")
                                tamanos3 = tamanos3.style.fontSize = TamanoLetra3 + ("px")
                            }
                        });

                        let TamanoLetra4 = document.querySelector("#TamanoLetra4").value;
                        let tamano4 = document.querySelectorAll("#text4");
                        tamano4.forEach(tamanos4 => {
                            if (tamanos4.style.fontSize = TamanoLetra4) {
                                tamanos4.style.fontSize = TamanoLetra4 + ("px")
                                tamanos4 = tamanos4.style.fontSize = TamanoLetra4 + ("px")
                            }
                        });
                    </script>
                    {%endfor%} {%else%}

                    <h1>No hay registros</h1>

                    {%endif%}

                </div>
                <button type="button" class="btn btn-warning botonEditarCambios" onclick="ActualizarCambiosFooter()">Editar</button>
            </div>
        </form>
    </div>
</div>

{% endblock Contenido %} {%block scripts%}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/static/Configuracion/js/main.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/Configuracion/js/Cambios.js"></script>
<script src="/static/Configuracion/js/CambiosFooter.js"></script>

{%endblock scripts%}