{%load crispy_forms_tags%}
        <div class="modal-dialog"  role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Rol</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" id=EditarRoles action="{%url 'updateRol' object.id%}" onKeyPress="if(event.keyCode == 13) event.returnValue = false;" >
                    {% csrf_token %}
                    {{form.name|as_crispy_field}}
                    <p id="name" class="bg-light text-danger"></p>
            <div class="modal-footer" id="botones">
              <button type="button" class="btn btn-warning" onclick="EditarRol()">Modificar</button>
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
            </div>
              </form>
          </div>
        </div>